<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoZ3VujQMx8Z5zAIsOFfOFm6dociVhk-A</string>
	<key>GCM_SENDER_ID</key>
	<string>468834203546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterKanoonPos</string>
	<key>PROJECT_ID</key>
	<string>zkcnt-kanoon-pos</string>
	<key>STORAGE_BUCKET</key>
	<string>zkcnt-kanoon-pos.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468834203546:ios:426a35575db36bd98cac23</string>
</dict>
</plist>